<div class="ms-Grid"> 
    <div class="ms-Grid-row">
        {{d-navbar}}
    </div>
    <div class="ms-Grid-row map">
        <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg7">
            {{d-map}}
        </div>
        <div class="ms-Grid-col ms-u-sm12 ms-u-md12 ms-u-lg5 metapanel">
            <div class="news">
                {{d-articles}}
            </div>
            <div class="graph">
                {{d-history-forecast selectedDate=selectedDate}}
            </div>
        </div>
    </div>
</div>
